$blue-color: #48aafd;
$green-color: #00c899;
$google-blue: #4285f4;
$button-active-blue: #1669F2;
$red: red;
$white: white;
$black: black;
$input-placeholder-color: #be0f23;
$primary: #FC556F;
$secondary: #FD9C84;
$gradient: linear-gradient(to right, $primary, $secondary);

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

// mixin maxWidth($breakpoint) {@content}
@mixin maxWidth($breakpoint) {
    @media screen and (max-width: $breakpoint){
        @content;
    }
}
// mixin minWidth($breakpoint) {@content}
@mixin minWidth($breakpoint) {
    @media screen and (min-width: $breakpoint){
        @content;
    }
}

.iedg-login {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include minWidth(768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    strong {
        color: #000;
    }

    .iedg-title {
        font-size: 48px;
        margin-bottom: 2.5rem;
        @include maxWidth(768px) {
            font-size: 40px;
        }
    }

    &__google-btn {
        width: 216px;
        height: 42px;
        background-color: $google-blue;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
        margin-bottom: 1rem;

        .google-icon-wrapper {
            position: absolute;
            margin-top: 1px;
            margin-left: 1px;
            width: 40px;
            height: 40px;
            border-radius: 2px;
            background-color: $white;
        }
        .google-icon {
            position: absolute;
            margin-top: 11px;
            margin-left: 11px;
            width: 18px;
            height: 18px;
        }

        .btn-text {
            float: right;
            margin: 11px 11px 0 0;
            color: $white;
            font-size: 14px;
            letter-spacing: 0.2px;
            font-family: "Roboto";
        }

        &:hover {
            box-shadow: 0 0 6px $google-blue;
        }

        &:active {
            background: $button-active-blue;
        }
        
    }
    
}
.signup {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(black, 0.1);
    padding: 5rem;
    display: flex;
    justify-content: space-between;
   
    &-form {
        &__group {
            width: 100%;
            margin-bottom: 2rem;
        }
        
        &__label {
            display: inline-block;
            margin-bottom: 1rem;
            transform: translateX(1rem);
            cursor: pointer;
        }

        &__input {
            padding: 1rem 2.5rem;
            border: 1px solid #eee;
            background-color: #fafbff;
            border-radius: 10px;
            display: block;
            width: 100%;
            transition: all 0.2s linear;
            &:focus {
                background-color: white;
                border-color: $primary;

                & + .signup-form__check {
                    background-color: $primary;
                    color: white;
                }
            }
        }
       
        &__submit {
            
            color: $black;
            border-radius: 4px;
            background-color: transparent;
            border: 1px solid $red;
            font-size: 18px;
            cursor: pointer;
            margin-bottom: 65px;
            padding: 8px 30px;

            &:hover {
                color: $white;
                background-color: $red;
            }
        }
        
    }
    
}
